# ignore cache files
*/__pycache__/*
__pycache__/*

# ignore folder properties files (mac)
.DS_Store

# ignore the power_current file
power_current.json

# ignore static_params.json (different for each system)
static_params.json

# ignore local_files
local_files/*

# ignore VS Code settings
.vscode/*

# ignore jupyter checkpoints

.ipynb_checkpoints/*